{% extends 'admin/layout.html.twig' %}

{% block gcms_page %}

<h1>Content types</h1>

{% if is_granted('ROLE_REDACTOR') %}

	<form id="new" method="post" action="{{ path('admin_new_contenttype') }}">

		<input type="text" name="entity_name" placeholder="Content type's name" required>

		<button type="submit" title="Create new content type"><i class="material-icons">fiber_new</i></button>

	</form>

{% endif %}

<hr>
	
	{% for ct in ctE %}

	<section class="contenttype">

		<p><a href="{{ path('admin_contenttype', { ct: ct}) }}">{{ ct }}</a></p>

		{% if is_granted('ROLE_SUPERVISOR') %}

			<a href="{{ path('admin_delete_contenttype', { ct: ct }) }}">Delete</a>
			
		{% endif %}
		
	</section>

	{% endfor %}

{% endblock %}
