{% extends 'admin/layout.html.twig' %}

{% block gcms_page %}

<h1>Content types</h1>

<form id="new" method="post" action="{{ path('admin_new_contenttype') }}">

	<input type="text" name="entity_name" placeholder="Content type's name" required>

	<button type="submit" title="Create new content type"><i class="material-icons">fiber_new</i></button>

</form>

<hr>
	
	{% for ct in ctE %}

	<section class="contenttype">

		<p>{{ ct }} <a href="{{ path('admin_delete_contenttype', { ct: ct }) }}">Delete</a></p>
		
	</section>

	{% endfor %}

{% endblock %}
