{% extends 'admin/layout.html.twig' %}

{% block gcms_page %}
	<p>Your current database's configuration is :</p>
	<p>- {{ databaseConf }}</p>
	<p>If you want to update it, submit the following form, it will update the .env file then execute the commands database:create, make:migration and doctrine:migrations:migrate.</p>

	<form action="{{ path('admin_database') }}" method="post">
		<input class="long_input" type="text" name="databaseConf" value="{{ databaseConf }}" required>
		<p><button type="submit">Update</button></p>
	</form>
{% endblock %}
