{% extends 'base.html.twig' %}

{% block title %}Gcms - Admin{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ path('assets') }}/css/admin.css">

{% endblock %}

{% block body %}

<section id="wrapper">

	<header>

		<nav>

			<a id="gcms_logo" href="{{ path('admin_home') }}">
				<img height="60" src="{{ path('assets') }}/site_config/images/logo.png" alt="Logo">
			</a>

			<section id="gcms_bar">
				<p>
					Username
				</p>
				<p>
					<a href="#">Go</a>
				</p>
			</section>

		</nav>

	</header>

	<main>
		
		<section id="gcms_menu">
			
			<nav>
				
				<a href="#">Pages</a>
				<a href="#">Entries</a>
				<a href="#">Components</a>
				<hr>
				<a href="#">Config</a>
				<a href="#">Files</a>
				<a href="#">Themes</a>
				<a href="#">Extensions</a>

			</nav>

		</section>

		<section id="gcms_page">
			page
			{% block gcms_page %}{% endblock %}
		</section>

	</main>	

</section>

<footer>
	<p>&copy; Léo Garcia {{ 'now' | date('Y') }}</p>
</footer>

{% endblock %}