{% extends 'admin/layout.html.twig' %}

{% block gcms_page %}

<h1>Welcome to GarciaCMS!</h1>
<h2>Built on Symfony 4.</h2>
<hr>
<p>See the <a href="{{ path('admin_doc') }}">doc</a> to get started ! Everything in the backend is Symfony 4 so if you're a developer (and I hope you're one because this tool is made for them) you can do what you want directly within the code.</p>

{% endblock %}
