*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 24px;
	font-family: 'Lato', sans-serif;
}
html{
	height: 100%;
}
body{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
h1, h2{
	text-align: center;
}
h1{
	font-size: 48px;
}
p{
	margin: 10px 0;
}
p.center-v{
	display: flex;
	align-items: center;
}
a{
	cursor: pointer;
}
a.black_link i{
	text-decoration: none;
	color: #000;
	font-size: 48px;
}
input.medium_input{
	width: 40%;
}
input.long_input{
	width: 80%;
}
section#wrapper{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 60px auto;
	grid-template-areas: 
							"header"
							"main";	
}
section#wrapper header{
	grid-area: header;
	background-color: #ddd;
}
section#wrapper header nav{
	display: grid;
	grid-template-columns: 15% 85%;
	grid-template-rows: 60px;
	grid-template-areas: "logo bar";
}
section#wrapper header nav a#gcms_logo{
	display: flex;
	align-items: center;
	grid-area: logo;
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	font-weight: bold;
	text-decoration: none;
}
section#wrapper header nav a#gcms_logo > *{
	margin-left: 10px;
	color: #000;
}
section#wrapper header nav section#gcms_bar{
	grid-area: bar;

	display: grid;
	grid-template-columns: 10% 80% 10%;
	grid-template-rows: auto;
	grid-template-areas: "account blank site";
	border-bottom: 2px solid #000;
}
section#wrapper header nav section#gcms_bar p:first-child{
	grid-area: account;

	display: flex;
	align-items: center;
}
section#wrapper header nav section#gcms_bar p:first-child > *{
	display: block;
	margin-left: 10px;
}
section#wrapper header nav section#gcms_bar p:first-child > i{
	font-size: 40px;
	background-color: #fff;
	border-radius: 100%;
}
section#wrapper header nav section#gcms_bar p:last-child{
	grid-area: site;

	display: flex;
	align-items: center;
	justify-content: flex-end;
}
section#wrapper header nav section#gcms_bar p:last-child > a{
	display: block;
	margin-right: 10px;
	color: #000;
}
section#wrapper header nav section#gcms_bar p:last-child > a > i{
	font-size: 40px;
}
section#wrapper main{
	grid-area: main;

	display: grid;
	grid-template-columns: 15% 85%;
	grid-template-rows: auto;
	grid-template-areas: "menu page";
}
section#wrapper main section#gcms_menu{
	background-color: #ddd;
	grid-area: menu;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
}
section#wrapper main section#gcms_page{
	background-color: #fff;
	grid-area: page;
	padding: 20px;
	border-bottom: 2px solid #000;
}
section#wrapper main section#gcms_menu nav a,
section#wrapper main section#gcms_menu nav section.dropdown,
section#wrapper main section#gcms_menu nav section.dropdown section.submenu a{
	display: flex;
	align-items: center;

	padding: 10px;
	height: 60px;
	color: #000;
	text-decoration: none;
	position: relative;
	cursor: pointer;
}
section#wrapper main section#gcms_menu nav a:hover,
section#wrapper main section#gcms_menu nav section.dropdown:hover,
section#wrapper main section#gcms_menu nav section.dropdown section.submenu a:hover{
	background-color: #000;
	color: #ddd;
}
section#wrapper main section#gcms_menu nav section.dropdown span{
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-left-color: #000;
	position: absolute;
	right: 5px;
	top: 20px;
}
section#wrapper main section#gcms_menu nav section.dropdown:hover span{	
	border-left-color: #ddd;
}
section#wrapper main section#gcms_menu nav section.dropdown section.submenu{
	background-color: #ddd;
	display: none;
	position: absolute;
	left: 100%;
	top: -2px;
	border: 2px solid #000;
	width: 100%;
}
section#wrapper main section#gcms_menu nav section.dropdown:hover section.submenu{	
	display: block;
}
section#wrapper main section#gcms_menu nav section.dropdown > a{
	padding: 0;
	width: 100%;
	height: 100%;
}
section#wrapper main section#gcms_menu nav section.dropdown:hover > a{
	background-color: #000;
	color: #ddd;
}
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: auto;
	height: 60px;
}

section#wrapper main section#gcms_page form#new{
	display: flex;
	align-items: center;
}
section#wrapper main section#gcms_page form#new button{
	border: none;
	background: none;
	cursor: pointer;
}
section#wrapper main section#gcms_page form#new button i{
	font-size: 48px;
}
section#wrapper main section#gcms_page form#listing section#controls{
	display: flex;
	align-items: center;
}
section#wrapper main section#gcms_page form#listing section#controls label{
	margin: 0 10px;
}
section#wrapper main section#gcms_page form#listing section#controls button{
	margin-left: auto;
}
section#wrapper main section#gcms_page form#listing section.page{
	display: grid;
	grid-template-columns: 5% 15% 10% 25% 15% 15% 15%;
	grid-template-rows: auto;
	grid-template-areas: "check name preview creator creation_date blank state";
}
section#wrapper main section#gcms_page form#listing section.page p{
	display: flex;
	align-items: center;
}
section#wrapper main section#gcms_page form#listing section.page p:nth-child(1){
	grid-area: check;
}
section#wrapper main section#gcms_page form#listing section.page p:nth-child(2){
	grid-area: name;
}
section#wrapper main section#gcms_page form#listing section.page p:nth-child(3){
	grid-area: preview;
}
section#wrapper main section#gcms_page form#listing section.page p:nth-child(4){
	grid-area: creator;
}
section#wrapper main section#gcms_page form#listing section.page p:nth-child(5){
	grid-area: creation_date;
}
section#wrapper main section#gcms_page form#listing section.page p:nth-child(6){
	grid-area: state;
}
section#wrapper main section#gcms_page table, thead, tbody, tr, th, td{
	border: 1px solid #000;
	border-collapse: collapse;
}
section#wrapper main section#gcms_page th, td{
	padding: 20px;
}
section#wrapper main section#gcms_page section#files{
	display: flex;
	flex-wrap: wrap;
}
section#wrapper main section#gcms_page section#files p{
	width: 200px;
	height: 200px;
	overflow-y: hidden;
	margin: 20px;
	border: 1px solid #000;
	position: relative;
}
section#wrapper main section#gcms_page section#files p img{
	width: 100%;
}
section#wrapper main section#gcms_page section#files p span{
	display: block;
	margin-top: 50px;
}
section#wrapper main section#gcms_page section#files p a{
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	color: #dd2222;
	cursor: pointer;
}
section#wrapper main section#gcms_page section#files p a i{
	font-size: 40px;
}
section#wrapper main section#gcms_page section.contenttype{
	display: flex;
	align-items: center;
}
section#wrapper main section#gcms_page section.contenttype > a:last-child{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
}
section#wrapper main section#gcms_page section.contenttype > a:last-child, button{
	color: #000;
	border: 1px solid #aaa;
	background-color: #dedede;
	text-decoration: none;
	cursor: pointer;
}
section#wrapper main section#gcms_page section.contenttype > a:last-child:hover, button:hover{
	border: 1px solid #07f;
	background-color: #eef;
}
section#wrapper main section#gcms_page form#listing section.entry{
	display: grid;
	grid-template-columns: 5% 5% 15% 10% 25% 15% 10% 15%;
	grid-template-rows: auto;
	grid-template-areas: "check id name blank creator creation_date blank2 state";
}
section#wrapper main section#gcms_page form#listing section.entry p{
	display: flex;
	align-items: center;
}
section#wrapper main section#gcms_page form#listing section.entry p:nth-child(1){
	grid-area: check;
}
section#wrapper main section#gcms_page form#listing section.entry p:nth-child(2){
	grid-area: id;
}
section#wrapper main section#gcms_page form#listing section.entry p:nth-child(3){
	grid-area: name;
}
section#wrapper main section#gcms_page form#listing section.entry p:nth-child(4){
	grid-area: creator;
}
section#wrapper main section#gcms_page form#listing section.entry p:nth-child(5){
	grid-area: creation_date;
}
section#wrapper main section#gcms_page form#listing section.entry p:nth-child(6){
	grid-area: state;
}