<!DOCTYPE html>
<html lang="{{ site_locale }}">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="./assets/site_config/images/favicon.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>{% block title %}Gcms{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
