{% extends 'base.html.twig' %}

{% block title %}{# Put the page's title here, use {{ parent() }} to get your site's name #}{% endblock %}

{% block stylesheets %}{# Put the page's CSS stylesheets here #}{% endblock %}

{% block body %}
	<h2>{{ page.displayName }}</h2>
	{# See templates/admin/page.html.twig to learn how to display images and dates fields correctly #}
	fieldsHere
{% endblock %}

{% block javascripts %}
{# Put the page's CSS stylesheets here #}
{# Uncomment the next line to load jQuery from base.html.twig #}
{# {{ parent() }} #}
{% endblock %}